@page
@model LoginModel

@{
  
    ViewData["Title"] = "Log in";
 }
<!DOCTYPE html>
<html lang="tr">
<head>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/login-form-14/css/style.css">

</head>

<section class="ftco-section">


    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(/login-form-14/images/yemek.jpg);">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Giriş Yap</h3>
                            </div>

                        </div>
                        <form id="account" method="post">
                            <div class="form-group mb-3">
                                @*<label class="label" for="name">Username</label>
                                    <input type="text" class="form-control" placeholder="Username" required>*@
                                <label asp-for="Input.Email" class="label">Email</label>
                                <input asp-for="Input.Email" type="text" class="form-control" placeholder="Email" required />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">

                                <label asp-for="Input.Password" class="label" for="password">Şifre</label>
                                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Şifre" required>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Giriş Yap</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label asp-for="Input.RememberMe" class="checkbox-wrap checkbox-primary mb-0">


                                        <input asp-for="Input.RememberMe" type="checkbox" checked>
                                        <span class="checkmark"></span>
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a asp-page="./Index" asp-route-returnUrl="@Model.ReturnUrl">Ana Sayfaya Dön</a>
                                </div>

                            </div>
                        </form>
                        <p class="text-center">Kayıtlı değil misin? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Kayıt Ol</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/login-form-14/js/jquery.min.js"></script>
    <script src="~/login-form-14/js/popper.js"></script>
    <script src="~/login-form-14/js/bootstrap.min.js"></script>
    <script src="~/login-form-14/js/main.js"></script>
}
